# App Settings
SCHEDULER_SECRET_KEY=dev-key-change-in-prod
SCHEDULER_SITE_SENDER=noreply@example.com
SCHEDULER_LISTSERV=listserv@example.com
SCHEDULER_SITEMINDER_PREFIX=https://auth.example.com/login
SCHEDULER_NIH_NETWORKS=127.0.0.1/32,::1/128,192.168.0.0/16

# Server Settings
MMSCHED_SUPERUSER_MODE=true
MMSCHED_SERVER_NAME=localhost:5051

# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=scheduler
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Mail Settings
MMSCHED_MAIL_USERNAME=test
MMSCHED_MAIL_PASSWORD=test

# LDAP Settings
LDAP_HOST=ldap
LDAP_PORT=1389
LDAP_USE_SSL=false
LDAP_BIND_DN=cn=read-only-admin,dc=example,dc=com
LDAP_BIND_PASSWORD=password
LDAP_BASE_DN=dc=example,dc=com
LDAP_USER_DN_TEMPLATE=uid={username},dc=example,dc=com
LDAP_GROUP_DN=ou=groups,dc=example,dc=com
LDAP_USER_FILTER=(objectClass=person)
LDAP_GROUP_FILTER=(objectClass=groupOfUniqueNames)
LDAP_TOKEN_LIFETIME=28800