# App Settings
SCHEDULER_SECRET_KEY=dev-key-change-in-prod
SCHEDULER_SITE_SENDER=noreply@example.com
SCHEDULER_LISTSERV=listserv@example.com
SCHEDULER_SITEMINDER_PREFIX=https://auth.example.com/login
SCHEDULER_NIH_NETWORKS=127.0.0.1/32,::1/128,192.168.0.0/16

# Server Settings
MMSCHED_SUPERUSER_MODE=true
MMSCHED_SERVER_NAME=127.0.0.1:5000

# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=scheduler
POSTGRES_HOST=localhost
POSTGRES_PORT=5050

# Mail Settings
MMSCHED_MAIL_USERNAME=test
MMSCHED_MAIL_PASSWORD=test