[Unit]
Description=FMRIF Scheduler Flask Application
After=network.target postgresql.service

[Service]
Type=notify
User=leejo
WorkingDirectory=/home/leejo/fmrif-scheduler-morse-version
Environment="PATH=/home/leejo/fmrif-scheduler-morse-version/.venv/bin"
Environment="FLASK_APP=scheduler.app"
ExecStart=/home/leejo/fmrif-scheduler-morse-version/.venv/bin/python -m flask run --host=0.0.0.0 --port=5051
Restart=always
RestartSec=10
StandardOutput=append:/tmp/flask-staging.log
StandardError=append:/tmp/flask-staging.log

[Install]
WantedBy=multi-user.target
