[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.2"
psycopg2 = "*"
flask-sqlalchemy = "==2.5.1"
flask-session = "*"
flask-mail = "*"
flask-wtf = "*"
erd = "*"
sqlalchemy = "==1.4.26"
werkzeug = "==2.0.2"

[dev-packages]
mypy = "*"
black = "*"

[requires]
python_full_version = "*"

[pipenv]
allow_prereleases = true
