[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-session = "*"
flask-mail = "*"
flask-wtf = "*"

[dev-packages]
mypy = "*"
black = "*"

[requires]
python_full_version = "3.8.11"

[pipenv]
allow_prereleases = true
