{% extends "page.html" %}
{% import "svg/icons.html" as icons %}
{% import "macros.html" as macros %}
{% block title %}{{ device.label }}{% endblock %}
{% block body %}
	{% if never_entries %}
		<p class=note>{{ icons.info() }} {{ never_entries }}</p>
	{% else %}
		<nav aria-labelledby=jump-hdr>
			<form>
				<span id=jump-hdr>jump to</span>
				<input name=start aria-label="start date" type=text autocomplete=off pattern="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}" value="{{ start_date }}" required>
				<span aria-hidden=true>and show</span>
				<input name=days aria-label="show number of days" type=number value="{{ days }}" step=1 min=1 max=31 required>
				<span aria-hidden=true>days</span>
				<button type=submit>go</button>
			</form>
		</nav>
		{% if no_entries %}
			<p class=note>{{ icons.info() }} {{ no_entries }}</p>
		{% else %}
			{{ macros.datalist("groups", groups, "invalid group") }}
			{% for k, v in members_of_groups.items() %}
				{{ macros.datalist("members-of-" ~ k, v, "invalid member of " ~ k) }}
			{% endfor %}
			<form>
				<table>
					<caption>schedule for {{ device.label }} from {{ start_date }} to {{ end_date }}{{ macros.edit_icons("schedule") }}</caption>
					<thead>
						<tr>
							<td></td>
							{% for h in top_row %}
								<th>{{ h }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for xs in entries %}
							<tr><th scope=col>{{ loop.index-1 }}</th>
							{% for x in xs %}
								<td>
									<entry-cell data-id="{{ x.id }}">
										{{ macros.entry_legend(colors[x.group] if x.group) }}
										<entry-editor>
											{{ macros.entry_text("grp-" ~ x.id, "group", "groups", x.group) }}
											{{ macros.entry_text("mem-" ~ x.id, "member", "", x.user) }}
										</entry-editor>
									</entry-cell>
									{{ macros.edit_icons("entry") }}
									<div class=time-use-icon>
										{% if x.used is none %}
											{{ icons.square_empty() }}
										{% elif x.used %}
											{{ icons.square_used("time used") }}
										{% else %}
											{{ icons.square_unused("time unused") }}
										{% endif %}
									</div>
								</td>
							{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</form>
		{% endif %}
	{% endif %}
{% endblock %}