{% import "svg/icons.html" as icons %}

{% macro datalist(id, entries, errorMessage) %}
	<datalist id="{{ id }}"{% if errorMessage %} data-error-message="{{ errorMessage }}"{% endif %}>
		{% for entry in entries %}
			<option value="{{ entry[0] }}">{{ entry[1] }}</option>
		{% endfor %}
	</datalist>
{% endmacro %}

{% macro form(f) %}
	{{ form_errors(f)}}
	{% for e in f %}
		{{ field(e) }}
	{% endfor %}
{% endmacro %}

{% macro field(f) %}
	{% if f.type == "HiddenField" or f.type == "CSRFTokenField" or f.type == "SubmitField" %}
		{{ f }}
	{% elif f.type == "FormField" or f.type == "RadioField" %}
		<fieldset data-name="{{ f.name }}">
			<legend>{{f.label.text}}</legend>
			{{ form_errors(f) }}
			{% for sf in f %}
				{{ field(sf) }}
			{% endfor %}
		</fieldset>
	{% else %}
		{% set option = f.type == "BooleanField" or f.type == "_Option" %}
		{% set above = f.type == "TextAreaField" %}
		<input-set{% if option %} is-option{% endif %}{% if "required" in f.flags %} is-required{% endif %}{% if above %} label-above{% endif %}>
			{% if option %}
				<input-widget>{{ field_render(f) }}</input-widget>
				{{ field_label(f) }}
			{% else %}
				{{ field_label(f) }}
				{% if f.type != "TextAreaField" %}<input-widget>{% endif %}
				{{ field_render(f) }}
				{% if f.type != "TextAreaField" %}
						{{ validation_icons() }}
					</input-widget>
				{% endif %}
			{% endif %}
			{{ field_description(f) }}
			{{ field_errors(f) }}
		</input-set>
	{% endif %}
{% endmacro %}

{% macro validation_icons() %}
	<div class=validation-icons>
		{{ icons.exclaim() }}
		{{ icons.check() }}
	</div>
{% endmacro %}

{% macro edit_icons(typ) %}
	<div class=edit-icons>
		{{ icons.pencil("edits to " ~ typ) }}
		{{ icons.exclaim_triangle("error in " ~ typ) }}
	</div>
{% endmacro %}

{% macro field_label(f) %}
	<label for="{{ f.id }}">
		<span>{{ f.label.text }}</span>{% if "required" in f.flags %}{{ icons.asterisk() }}{% endif %}
	</label>
{% endmacro %}

{% macro field_render(f) %}
	{% set did %}{{f.id}}-dscr{% endset %}
	{% set eid %}{{f.id}}-err{% endset %}
	{% if f.description and f.errors %}
		{% set ids %}{{ did }} {{ eid }}{% endset %}
		{{ f(**{"aria-describedby": ids}) }}
	{% elif f.description %}
		{{ f(**{"aria-describedby": did}) }}
	{% elif f.errors %}
		{{ f(**{"aria-describedby": eid}) }}
	{% else %}
		{{ f }}
	{% endif %}
{% endmacro %}

{% macro field_description(f) %}
	{% if f.description %}
		<input-description id="{{f.id}}-dscr">
			{{ f.description }}
		</input-description>
	{% endif %}
{% endmacro %}

{% macro form_errors(f) %}
	{{ error_list(false, f.form_errors) }}
{% endmacro %}

{% macro field_errors(f) %}
	{% set id %}{{f.id}}-err{% endset %}
	{{ error_list(id, f.errors) }}
{% endmacro %}

{% macro error_list(id, errors) %}
	{% if errors %}
		<input-errors{% if id %} id="{{id}}"{% endif %}>
			{% for error in errors %}
				<input-error>{{ icons.exclaim_triangle("Error") }} <span>{{ error }}</span></input-error>
			{% endfor %}
		</input-errors>
	{% endif %}
{% endmacro %}

{% macro entry_legend(color) %}
	<entry-legend style="--swatch: {{ color or "transparent" }}"></entry-legend>
{% endmacro %}

{% macro entry_text(id, lbl, list, value) %}
	<input-set label-above shrink>
	<label for="{{ id }}">{{ lbl }}</label>
	<input-widget>
		<input id="{{ id }}" disabled autocomplete=off {% if list %}list="{{ list }}"{% endif %} data-orig="{{ value or "" }}" value="{{ value or ""}}">
		{{ validation_icons() }}
	</input-widget>
	</input-set>
{% endmacro %}