{% extends "base.html" %}
{% block basehead %}
	{% block head %}{% endblock %}
{% endblock %}
{% block basebody %}
	<nav aria-label="skip link">
		<a href="#main">skip to main content</a>
	</nav>
	<nav aria-label=breadcrumb>
		<ul>
			{% for (name, url) in breadcrumb %}
				<li><a href="{{url}}"{% if request.path == url %} aria-current=page{% endif %}>{{name}}</a></li>
			{% endfor %}
		</ul>
	</nav>
	<section aria-label="login info">
		You are {% if user %}logged in as {{user.id}}{% else %}not logged in{% endif %}.
	</section>

	{% with msgs = get_flashed_messages(with_categories=true) %}
		{% if msgs %}
			<section aria-label="status messages">
				<ul>
					{% for cat, msg in msgs %}
						<li class="msg-{{ cat }}"><sr-only>{{ cat }}:</sr-only> {{ msg }}</li>
					{% endfor %}
				</ul>
			</section>
		{% endif %}
	{% endwith %}
	<main id=main tabindex="-1">{% block body %}{% endblock %}</main>
{% endblock %}