{% extends "base.html" %}
{% block basehead %}
	{% block head %}{% endblock %}
{% endblock %}
{% block basebody %}
	<nav aria-label="skip link">
		<a href="#main">skip to main content</a>
	</nav>
	<nav aria-label=breadcrumb>
		<ul>
			{% for (name, url) in breadcrumb %}
				<li><a href="{{url}}"{% if request.path == url %} aria-current=page{% endif %}>{{name}}</a></li>
			{% endfor %}
		</ul>
	</nav>
	<section aria-label="login info">
		<p>You are {% if user %}logged in as {{user.id}}{% else %}not logged in{% endif %}.</p>
		{% if user and not user.active %}<p>Your account is inactive.</p>{% endif %}
	</section>

	{% with msgs = get_flashed_messages(with_categories=true) %}
		{% if msgs %}
			<section aria-label="status messages">
				<ul>
					{% for cat, msg in msgs %}
						<li class="msg-{{ cat }}"><sr-only>{{ cat }}:</sr-only> {{ msg }}</li>
					{% endfor %}
				</ul>
			</section>
		{% endif %}
	{% endwith %}
	<main id=main tabindex="-1">
		{% if subpage_nav %}
			<nav aria-labelledby="subpage-nav-title">
				<span id="subpage-nav-title">{{ subpage_nav.title | safe }}</span>
				<ul>
					{% for link, href in subpage_nav.links %}
						<li><a href="{{ href }}"{% if request.path == href %} aria-current=page{% endif %}>{{ link | safe}}</a></li>
					{% endfor %}
				</ul>
			</nav>
		{% endif %}
		{% block body %}{% endblock %}
	</main>
{% endblock %}