* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: inherit;
}
html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Roboto, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.5;
}
body {
	margin: 0;
}
/* normalizations adapted from 
 - https://github.com/csstools/normalize.css
 - https://github.com/csstools/sanitize.css
*/
:where(b, strong) {
	font-weight: bolder;
}
:where(button, input, select, textarea) {
	margin: 0;
	font: inherit;
	max-width: 100%;
}
:where(textarea) {
	resize: vertical;
}
:where(button, select) {
	text-transform: none;
}
:where(button, input:is([type="button" i], [type="reset" i], [type="submit" i])) {
	-webkit-appearance: button;
}
:where(:root) {
	cursor: default;
	overflow-wrap: break-word;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
:where(iframe, img, input, video, select, textarea) {
	height: auto;
	max-width: 100%;
}
:where(fieldset) {
	min-width: 0;
	max-width: 100%;
}
/* end normalizations */
sr-only {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}
input-errors,
input-error,
input-description {
	display: block;
}
input-set {
	margin: .5rem .25rem;
	display: grid;
	gap: .25rem 1rem;
	grid-template: 
		"label input"
		". description"
		". errors"
		/ auto 1fr;
}
input-set[is-option] {
	grid-template: 
		"input label"
		". description"
		". errors"
		/ max-content 1fr;
}
input-description {
	grid-area: description;
}
input-errors {
	grid-area: errors;
}
input-set label {
	grid-area: label;
}
input-set input {
	grid-area: input;
	max-width: 100%;
}
input-description {
	font-size: 95%;
}
input-set[is-required] label:after {
	content: "*";
	content: "*" / "";
}